<span style="font-size: 8pt;">Estimate yourself.</span>
<div style="width: 450px; margin: auto; margin-top: 30px;margin-bottom: 50px;">
  <div style="float: left; margin: 10px; background: url('/images/third.jpg'); height: 120px; width: 120px; border: 4px solid #437784;" class="indicator">
    &nbsp;
  </div>
<div style="float: left;  margin: 10px; background: url('/images/first.jpg'); height: 120px; width: 120px; border: 4px solid #437784;" class="indicator">
  &nbsp;
</div>
<div style="float: left;  margin: 10px; background: url('/images/second.jpg'); height: 120px; width: 120px; border: 4px solid #437784;" class="indicator">
  &nbsp;
</div>
</div>
<p style="clear: left; margin-top: 180px;">
<%= link_to 'Create an account now!', new_user_path, :style => "color: white; font-size: 14pt; "%>
</p>